## Deliverable 3. Create a Travel Itinerary Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [12]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Alofi,NU,76.89,clear sky,-19.0595,-169.9187,Taloa Heights
1,6,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
2,7,Kawalu,ID,77.95,overcast clouds,-7.3817,108.2082,West Jontor
3,8,Bengkulu,ID,83.68,few clouds,-3.8004,102.2655,Grage Hotel Bengkulu
4,12,Banda Aceh,ID,87.35,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [14]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]== 'Tura')]
vacation_end = vacation_df.loc[(vacation_df["City"]== 'Tura')]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]== 'Bundu')]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]== 'Sihora')] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]== 'Yellandu')]

In [41]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0],vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0],vacation_stop3['Lng'].to_numpy()[0]

print (start, end, stop1, stop2, stop3)

(25.5198, 90.2201) (25.5198, 90.2201) (23.1833, 85.5833) (23.4833, 80.1167) (17.6, 80.3333)

In [42]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode= 'DRIVING' or 'BICYCLING' or 'WALKING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,484,Tura,IN,80.13,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental
1,177,Bundu,IN,88.02,overcast clouds,23.1833,85.5833,Rajdhani Hotel
2,117,Sihora,IN,83.53,overcast clouds,23.4833,80.1167,Hotel Yash Raj Sihora
3,665,Yellandu,IN,79.77,overcast clouds,17.6000,80.3333,Varalaxmi
4,484,Tura,IN,80.13,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental

In [49]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and <dd>{Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [50]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))